version: "3.9"

services:
  openwrt:
    image: openwrtorg/rootfs:x86-64
    container_name: openwrt
    privileged: true
    network_mode: "host"
    restart: unless-stopped

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    restart: unless-stopped

  wireguard:
    image: linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

  nextcloud:
    image: nextcloud
    container_name: nextcloud
    restart: unless-stopped

  plex:
    image: linuxserver/plex
    container_name: plex
    restart: unless-stopped

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    network_mode: host
    volumes:
      - ./home-assistant:/config
    restart: unless-stopped

  glances:
    image: nicolargo/glances:latest-full
    container_name: glances
    ports:
      - "61208:61208"
    restart: unless-stopped

  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    restart: unless-stopped

  heimdall:
    image: linuxserver/heimdall
    container_name: heimdall
    restart: unless-stopped

  npm:
    image: jc21/nginx-proxy-manager:latest
    container_name: npm
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
